@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Please contact the support team at xxx@xxx.com or call xxx-xxx-xxxx.</h2>
